<html>
  <head>
    <title>NBCdata</title>

    <style>
body{background-image:url("http://www.naturalis.nl/media/library/2015/02/StanSkeleton-NewMexico_072_1.JPG");background-repeat:no-repeat;background-size:cover;}
.centerkop {color: maroon;text-align:center;padding:120px 5px;font-size:150%;}
//table {-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);}
div.center{background-image:url("trex-nbcdata2.png");background-repeat:no-repeat;}
.centerkop img {border-radius:15px;float:left;border-style:outset;}
.kop {border-radius:25px;margin:75px;text-shadow: 3px 3px 7px;}
.buttons{margin-left:150px;}
.buttondiv {float:left;margin:5px;}
.button {border-top: 1px solid #e66161;background: #d66565;background: -webkit-gradient(linear, left top, left bottom, from(#990040), to(#d66565));background: -webkit-linear-gradient(top, #990040, #d66565);background: -moz-linear-gradient(top, #990040, #d66565);background: -ms-linear-gradient(top, #990040, #d66565);background: -o-linear-gradient(top, #990040, #d66565);padding: 10px 20px;-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;box-shadow: rgba(0,0,0,1) 0 1px 0;text-shadow: rgba(0,0,0,.4) 0 1px 0;color: white;font-size: 20px;font-family: Georgia, serif;text-decoration: none;vertical-align: middle; }
.button:hover {border-top-color: #6d2878;background: #6d2878;color: #ccc; }
.button:active {border-top-color: #391b5c;background: #391b5c; }
    </style>

  </head>

<div class="center">
  <table width="600" class="kop">
    <tbody>
      <tr class="h">
        <td class="centerkop">
          <img src="http://www.naturalis.nl/media/library/2012/07/Naturalis_logo_staand_rood_01.jpg" width="120px">
<h1>NBC DATA </h1>
<div class="buttons">
    <div class="buttondiv"><a href="/phpmyadmin" class="button">phpMyAdmin</a></div> 
<div class="buttondiv"><a href="/crs" class="button">CRS</a></div>  
<div class="buttondiv"><a href="/qaw" class="button">QAW</a></div>  
</div>
    </td>
      </tr>
    </tbody>
  </table>
<!--  <?php phpinfo(); ?> -->
</div>
</html>
